@inherits Forms.Forms.Form_784_CUBase
@namespace FormsPage

@using AKSoftware.Localization.MultiLanguages.Blazor
@using Baya.Models.Utility;
@using Baya.Models.ORM
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Authorization;
@using System.Security.Claims
@using System.Net
@using Microsoft.JSInterop
@using Baya.Models.ViewEngine
@using Forms.Domain.Utility
@using Castle.DynamicLinqQueryBuilder
<style>
    /* ************************************************** */
.detailArea form div:not(.devdrop) {
    margin-top: .1rem;
}
/* ************************************************** */

.col-bg {
    background: #93b0ff0d;
    border: 1px dashed #6c5ffc45;
    border-radius: 8px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-right: 0;
    margin-left: 0;
}

/* ************************************************** */

.form-header {
    background: linear-gradient(to bottom, #6c5ffc, #0d1a52);
    color: white;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem 0.5rem 0 0;
    margin-bottom: 0;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
}

.form-header:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.2);
}

.form-header h2 {
    font-weight: 700;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
}

.form-header .icon {
    font-size: 1.8rem;
    margin-left: 15px;
    animation: float 3s ease-in-out infinite;
}

.form-header::before {
    content: "";
    position: absolute;
    top: -50%;
    right: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 70%);
    transform: rotate(45deg);
    z-index: 1;
    transition: all 0.5s ease;
}

.form-header:hover::before {
    transform: rotate(45deg) translate(20px, 20px);
}

.form-header .decoration {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.05);
    z-index: 1;
}

.form-header .decoration-1 {
    top: -30px;
    left: -30px;
    width: 120px;
    height: 120px;
}

.form-header .decoration-2 {
    bottom: -40px;
    right: -20px;
    width: 80px;
    height: 80px;
}

@@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0px);
    }
}

@@keyframes pulse {
    0% {
        opacity: 0.3;
    }

    50% {
        opacity: 0.1;
    }

    100% {
        opacity: 0.3;
    }
}

.pulse-animation {
    animation: pulse 4s ease-in-out infinite;
}

/* ************************************************** */
/*  */
.input-num input {
    display: inline-block;
    width: 80px;
    background: none !important;
    border: none;
    color: #6c5ffc;
    font-size: 24px;
    text-align: center;
    font-weight: 900;
}

/* ************************************************** */
</style>

<Plugins.Tools.ConfirmDialog @ref="Confirm" />

<span class="d-none">VersionForm:@VersionForm</span>
@*
@if (!string.IsNullOrEmpty(SumaryMessage))
{
    <div>
        @SumaryMessage
    </div>
} *@

@* <EditForm @ref="_Form" Model="_Entity" OnValidSubmit="ValidFormSubmitted" OnInvalidSubmit="InvalidFormSubmitted" OnSubmit="Submit"> *@
<div class="@(ReadOnly?"FormReadOnly":"")">
    <EditForm @ref="_Form" Model="_Entity" OnSubmit="Submit">
        
<div class="">
    <div  class="">
    <header class="form-header">
  <!-- عناصر تزئینی -->
  <div class="decoration decoration-1"></div>
  <div class="decoration decoration-2 pulse-animation"></div>
  
  <!-- محتوای هدر -->
  <h5>
      <i class="fal fa-project-diagram icon"></i>
      اطلاعات مدت قرارداد
  </h5>
</header>
</div>

</div>

<div class="row ">
    
<div class="col-md-3">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_HR_CRS_ContractTimeHR_ORG_PositionClassificationId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"EntityName\":\"مدت قرارداد\",\"primaryKey\":false,\"EntityID\":459,\"FieldId\":16683,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":784,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"HR_ORG_PositionClassification\",\"RelationParentModel\":\"HR_ORG_PositionClassification\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/HR_ORG_PositionClassification/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Title}} </span>\",\"FieldsTemplate\":[{\"key\":\"Title\",\"value\":\"int\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"modal\":true,\"label\":\"طبقه بندی سمت\",\"tableView\":true,\"key\":\"HR_ORG_PositionClassificationId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"16683?EId=459&SubId=15\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=HR_ORG_PositionClassificationId  @ref="Ref_HR_ORG_PositionClassificationId" Label="طبقه بندی سمت" CssClass=""  DisplayFormat="DropDown" ExternalApi=false NotMapped=false TextGrid=false Text="" Value="@_Entity.HR_ORG_PositionClassificationId" FieldName="HR_ORG_PositionClassificationId" OnItemSelected="ItemSelected_HR_CRS_ContractTimeHR_ORG_PositionClassificationId" Component="Component_HR_CRS_ContractTimeHR_ORG_PositionClassificationId" _Entity="_Entity" >
</Dropdown>
@code {
    public async Task ItemSelected_HR_CRS_ContractTimeHR_ORG_PositionClassificationId(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = _Entity;

      //Todo
 //برای اینکه آی دی تغییر کند اینجا نیز باید تغییر کند
 //بهتر است از پرایمیری کی استفاده شود
 if (_Item != null)
 {
     Console.WriteLine(" Item Is Not Null");
    Item.HR_ORG_PositionClassificationId = Selected.Id;
    
 }
 else
 {
     Console.WriteLine(" Item Is Null");
      Item.HR_ORG_PositionClassificationId =EntityHelper.SetPropertyNull(Item.HR_ORG_PositionClassificationId);
 }
 Item.HR_ORG_PositionClassification = await Utility.JSON.ToObject<Entity.HR_ORG_PositionClassification>(await Utility.JSON.ToJson(_Item));
    StateHasChanged();


    

    
    }
} 
 
 
@code {
    Baya.Models.ViewEngine.View_Component Component_HR_CRS_ContractTimeHR_EmployeeContractTypeId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"EntityName\":\"مدت قرارداد\",\"primaryKey\":false,\"EntityID\":459,\"FieldId\":30443,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":784,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"HR_EmployeeContractType\",\"RelationParentModel\":\"HR_EmployeeContractType\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/HR_EmployeeContractType/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Title}} </span>\",\"FieldsTemplate\":[{\"key\":\"Title\",\"value\":\"nvarchar(Max)\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"searchField\":\"Title\",\"modal\":true,\"label\":\"نوع قرارداد کارمند\",\"tableView\":true,\"key\":\"HR_EmployeeContractTypeId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"30443?EId=459&SubId=15\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=HR_EmployeeContractTypeId  @ref="Ref_HR_EmployeeContractTypeId" Label="نوع قرارداد کارمند" CssClass=""  DisplayFormat="DropDown" ExternalApi=false NotMapped=false TextGrid=false Text="" Value="@_Entity.HR_EmployeeContractTypeId" FieldName="HR_EmployeeContractTypeId" OnItemSelected="ItemSelected_HR_CRS_ContractTimeHR_EmployeeContractTypeId" Component="Component_HR_CRS_ContractTimeHR_EmployeeContractTypeId" _Entity="_Entity" >
</Dropdown>
@code {
    public async Task ItemSelected_HR_CRS_ContractTimeHR_EmployeeContractTypeId(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = _Entity;

      //Todo
 //برای اینکه آی دی تغییر کند اینجا نیز باید تغییر کند
 //بهتر است از پرایمیری کی استفاده شود
 if (_Item != null)
 {
     Console.WriteLine(" Item Is Not Null");
    Item.HR_EmployeeContractTypeId = Selected.Id;
    
 }
 else
 {
     Console.WriteLine(" Item Is Null");
      Item.HR_EmployeeContractTypeId =EntityHelper.SetPropertyNull(Item.HR_EmployeeContractTypeId);
 }
 Item.HR_EmployeeContractType = await Utility.JSON.ToObject<Entity.HR_EmployeeContractType>(await Utility.JSON.ToJson(_Item));
    StateHasChanged();


    

    
    }
} 

</div>

<div class="col-md-9">
    
<div class="m-1 col-bg">
    
<div class="row ">
    
<div class="col-md-4">
     
 
@code {
    Baya.Models.ViewEngine.View_Component Component_HR_CRS_ContractTimeHR_ContractTimeTypeId = Utility.JSON.ToObject<Baya.Models.ViewEngine.View_Component>("{\"EntityName\":\"مدت قرارداد\",\"primaryKey\":false,\"EntityID\":459,\"FieldId\":16693,\"TypeCSharp\":\"string\",\"NotNull\":false,\"ViewId\":784,\"NotMapped\":false,\"Relation\":true,\"RelationExternal\":false,\"RelationParentName\":\"HR_ContractTimeType\",\"RelationParentModel\":\"HR_ContractTimeType\",\"widget\":\"choicesjs\",\"wysiwyg\":false,\"data\":{\"url\":\"https://bayaorm.workcv.ir/fa/api/v1/HR_ContractTimeType/GetList\"},\"validate\":{\"required\":false,\"customPrivate\":false,\"strictDateValidation\":false,\"multiple\":false,\"unique\":false,\"max\":0,\"min\":0},\"components\":[],\"bind\":true,\"dataType\":\"string\",\"valueProperty\":\"Id\",\"template\":\"<span>{{item.Title}} </span>\",\"FieldsTemplate\":[{\"key\":\"Title\",\"value\":\"int\"}],\"dataSrc\":\"url\",\"refreshOn\":\"data\",\"modal\":true,\"label\":\"نوع مدت قرارداد\",\"tableView\":true,\"key\":\"HR_ContractTimeTypeId\",\"type\":\"select\",\"input\":true,\"modalEdit\":false,\"FieldUrl\":\"16693?EId=459&SubId=15\",\"decimalLimit\":0,\"searchEnabled\":true,\"AccessDelete\":true,\"AccessEdit\":true,\"AccessNew\":true}").Result;
}

    <Dropdown Id=HR_ContractTimeTypeId  @ref="Ref_HR_ContractTimeTypeId" Label="نوع مدت قرارداد" CssClass=""  DisplayFormat="DropDown" ExternalApi=false NotMapped=false TextGrid=false Text="" Value="@_Entity.HR_ContractTimeTypeId" FieldName="HR_ContractTimeTypeId" OnItemSelected="ItemSelected_HR_CRS_ContractTimeHR_ContractTimeTypeId" Component="Component_HR_CRS_ContractTimeHR_ContractTimeTypeId" _Entity="_Entity" >
</Dropdown>
@code {
    public async Task ItemSelected_HR_CRS_ContractTimeHR_ContractTimeTypeId(object _Item)
    {
        var Selected = Utility.JSON.ToObject<dynamic>(Utility.JSON.ToJson(_Item).Result).Result;
     var Item = _Entity;

      //Todo
 //برای اینکه آی دی تغییر کند اینجا نیز باید تغییر کند
 //بهتر است از پرایمیری کی استفاده شود
 if (_Item != null)
 {
     Console.WriteLine(" Item Is Not Null");
    Item.HR_ContractTimeTypeId = Selected.Id;
    
 }
 else
 {
     Console.WriteLine(" Item Is Null");
      Item.HR_ContractTimeTypeId =EntityHelper.SetPropertyNull(Item.HR_ContractTimeTypeId);
 }
 Item.HR_ContractTimeType = await Utility.JSON.ToObject<Entity.HR_ContractTimeType>(await Utility.JSON.ToJson(_Item));
    StateHasChanged();


    

    
    }
} 

<Input Id="FromNumber" @ref="Ref_FromNumber" Label="از تعداد"     @bind-Value="_Entity.FromNumber" type="number"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="ToNumber" @ref="Ref_ToNumber" Label="تا تعداد"     @bind-Value="_Entity.ToNumber" type="number"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="ContractTime" @ref="Ref_ContractTime" Label="مدت قرارداد"     @bind-Value="_Entity.ContractTime" type="number"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"9\"}").Result))></Input>

</div>

<div class="col-md-4">
    
<Input Id="ContractTimeCounter" @ref="Ref_ContractTimeCounter" Label="شمارنده مدت قرارداد"  CssClass="input-num"   @bind-Value="_Entity.ContractTimeCounter" type="number" ActiveSeperator=false    Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="MonthToDays" @ref="Ref_MonthToDays" Label="تبدیل ماه به روز در جدول مدت قرارداد"  CssClass="input-num"   @bind-Value="_Entity.MonthToDays" type="number" ActiveSeperator=false    Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"9\"}").Result))></Input>

</div>

<div class="col-md-4">
    
<Input Id="ContractTotalDays" @ref="Ref_ContractTotalDays" Label="تعداد کل روزهای قرارداد"  CssClass="input-num"   @bind-Value="_Entity.ContractTotalDays" type="number" ActiveSeperator=false    Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{\"maxlength\":\"9\"}").Result))></Input>

</div>

</div>

</div>

</div>

</div>

<Input Id="Id" @ref="Ref_Id"   CssClass="d-none"   @bind-Value="_Entity.Id" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="RequestID" @ref="Ref_RequestID"      @bind-Value="_Entity.RequestID" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="CreateUser" @ref="Ref_CreateUser"      @bind-Value="_Entity.CreateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="UpdateUser" @ref="Ref_UpdateUser"      @bind-Value="_Entity.UpdateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="CreateDate" @ref="Ref_CreateDate"   CssClass="d-none"   @bind-Value="_Entity.CreateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="UpdateDate" @ref="Ref_UpdateDate"   CssClass="d-none"   @bind-Value="_Entity.UpdateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="IsDelete" @ref="Ref_IsDelete"   CssClass="d-none"   @bind-Value="_Entity.IsDelete" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

    </EditForm>
</div>

@if (ShowSubmit)
{
    <button class="btn btn-sm btn-green" @onclick=Submit>ذخیره</button>
}

@code {
    #region Function

    //todo  جا به جا شود برده شود تو فایل  Peropeties
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("#log OnInitializedAsync");

        TableGet = await Utility.JSON.ToObject<Table>("{\"Name\":\"HR_CRS_ContractTime\",\"GetNameAs\":\"HR_CRS_ContractTime\",\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"HR_ORG_PositionClassificationId\",\"GetNameAs\":\"HR_ORG_PositionClassificationId\"},{\"Name\":\"HR_ContractTimeTypeId\",\"GetNameAs\":\"HR_ContractTimeTypeId\"},{\"Name\":\"FromNumber\",\"GetNameAs\":\"FromNumber\"},{\"Name\":\"ToNumber\",\"GetNameAs\":\"ToNumber\"},{\"Name\":\"ContractTime\",\"GetNameAs\":\"ContractTime\"},{\"Name\":\"HR_EmployeeContractTypeId\",\"GetNameAs\":\"HR_EmployeeContractTypeId\"},{\"Name\":\"MonthToDays\",\"GetNameAs\":\"MonthToDays\"},{\"Name\":\"ContractTotalDays\",\"GetNameAs\":\"ContractTotalDays\"},{\"Name\":\"ContractTimeCounter\",\"GetNameAs\":\"ContractTimeCounter\"}],\"Relation\":[{\"Name\":\"HR_ORG_PositionClassification\",\"GetNameAs\":\"HR_ORG_PositionClassification\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"Lvl\",\"GetNameAs\":\"Lvl\"},{\"Name\":\"TitleEn\",\"GetNameAs\":\"TitleEn\"},{\"Name\":\"Title\",\"GetNameAs\":\"Title\"},{\"Name\":\"DeleteDateTime\",\"GetNameAs\":\"DeleteDateTime\"},{\"Name\":\"Description\",\"GetNameAs\":\"Description\"}],\"Relation\":[]},{\"Name\":\"HR_ContractTimeType\",\"GetNameAs\":\"HR_ContractTimeType\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"Code\",\"GetNameAs\":\"Code\"},{\"Name\":\"Title\",\"GetNameAs\":\"Title\"}],\"Relation\":[]},{\"Name\":\"HR_EmployeeContractType\",\"GetNameAs\":\"HR_EmployeeContractType\",\"ModeErtebat\":1,\"Column\":[{\"Name\":\"Code\",\"GetNameAs\":\"Code\"},{\"Name\":\"Title\",\"GetNameAs\":\"Title\"}],\"Relation\":[]}]}");
        TablePost = await Utility.JSON.ToObject<Table>("{\"Name\":\"HR_CRS_ContractTime\",\"GetNameAs\":\"HR_CRS_ContractTime\",\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"HR_ORG_PositionClassificationId\",\"GetNameAs\":\"HR_ORG_PositionClassificationId\"},{\"Name\":\"HR_ContractTimeTypeId\",\"GetNameAs\":\"HR_ContractTimeTypeId\"},{\"Name\":\"FromNumber\",\"GetNameAs\":\"FromNumber\"},{\"Name\":\"ToNumber\",\"GetNameAs\":\"ToNumber\"},{\"Name\":\"ContractTime\",\"GetNameAs\":\"ContractTime\"},{\"Name\":\"HR_EmployeeContractTypeId\",\"GetNameAs\":\"HR_EmployeeContractTypeId\"},{\"Name\":\"MonthToDays\",\"GetNameAs\":\"MonthToDays\"},{\"Name\":\"ContractTotalDays\",\"GetNameAs\":\"ContractTotalDays\"},{\"Name\":\"ContractTimeCounter\",\"GetNameAs\":\"ContractTimeCounter\"}],\"Relation\":[]}");

        config = CKEditorBundleOptions.DefaultConfig.WithHtmlEditing();
        config.Language = "fa";

        //بعداد اگه نیاز شد فرمی رو تو حالت غیر لاگین شده نمایش بدیم باید این  کد تغیر کنه
        var user = (await _authenticationStateProvider.GetAuthenticationStateAsync()).User;
        string UserID = user.FindFirst(c => c.Type == ClaimTypes.NameIdentifier).Value;
        //داینامیک بشه
        Dictionary<string, object> List = new Dictionary<string, object>();
        //List.Add("UserID", Guid.Parse(UserID));
        List.Add("UserID", UserID);
        _User = await Domain.Utility.ConvertParameter.ConvertToObject(List);

        Console.WriteLine("#log OnInitializedAsync End");

        await base.OnInitializedAsync();
    }

    //todo  جا به جا شود برده شود تو فایل  Peropeties
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Console.WriteLine("#log OnAfterRenderAsync");
            await base.BeforGetData();

            var Result = await GetData();

            await base.AfterGetData();

            StateHasChanged();

            await OnFormloaded.InvokeAsync(Result);
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    /// <summary>
    /// دریافت داده
    /// </summary>
    /// <returns></returns>
    public async Task<Baya.Models.Utility.Result> GetData()
    {
        await BeforGetData();

        var DataResult = await ApiServer.External.Services.Data.Get(TableGet, QueryFilter, TableGet.Name, null);
        
        Baya.Models.Utility.Result Result = new Baya.Models.Utility.Result();

        if (DataResult != null && DataResult.Status == HttpStatusCode.OK)
        {
            if (DataResult.Content != null)
            {
                string Data = DataResult.Content.ToString();
                if (Data is not null)
                {
                    _Entity = await Utility.JSON.ToObject < Entity.HR_CRS_ContractTime>(Data);
        }
            }
            else
            {
                _Entity = new Entity.HR_CRS_ContractTime();
            //todo تشخیص دهد که داده ای وجود ندارد و دفه اول هست که فرم لود میشود
            //todo اگه نیاز شد دالخ ORm خروجیش متفاوت باشه
            //ست کردن دیفالت های فرم
            if (true)
                {//


                    //نمونه ست کردن پارامتر روش اول
                    //_Entity.InstantDelivery = _RequestParameters.UserId;

                    //نمونه کد برای ست کردن پارامتر روش دوم
                    //_Entity.InstantDelivery = await GetParameter("@@UserId@@");
                }

                SumaryMessage = "داده لود شده معتبر نمی باشد";
                Result.Status = HttpStatusCode.InternalServerError;
            }
        }
        else
        {
            SumaryMessage = "داده لود نشد";
            Result.Status = HttpStatusCode.InternalServerError;
        }

        Result.Message = SumaryMessage;

        StateHasChanged();

        await AfterGetData();

        return Result;
    }

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);
    }

    protected override void OnInitialized()
    {
        //todo این خط برده شود داخل تابع پاینی ببینیم خطا داره یا نه
        languageContainer.InitLocalizedComponent(this);
    }


    /// <summary>
    /// بررسی تغییر دیتا
    /// </summary>
    /// <param name="Json"></param>
    /// <returns></returns>
    public bool CheckChangedData(string? Json)
    {
        if (string.Equals(JsonData, Json)) return true;
        return false;
    }

    /// <summary>
    /// ارسال داده
    /// </summary>
    /// <returns></returns>
    public override async Task<Baya.Models.Utility.Result> Submit()
    {
        SumaryMessage = "";
        Baya.Models.Utility.Result Result = new Baya.Models.Utility.Result();

        if (!await FormValidator())
        {
            StateHasChanged();
            Result.Status = HttpStatusCode.InternalServerError;
            return Result;
        }

        if ((await BeforSubmit()).Status != HttpStatusCode.OK)
        {
            StateHasChanged();
            Result.Status = HttpStatusCode.InternalServerError;
            return Result;
        }

        _loadingService.Show();
        var Resualt = await PostData();

        if (Resualt)
        {
            Result.Status = HttpStatusCode.OK;

            SumaryMessage = "داده ها با موفقیت ثبت شد";
        }
        else
        {
            Result.Status = HttpStatusCode.InternalServerError;
            SumaryMessage = "ذخیره داده با مشکل مواجه شد";
        }

        Result.Message = SumaryMessage;

        switch ((int)Result.Status)
        {
            case 200:
                toastService.ShowSuccess(Result.Message);
                break;
            case 500:
                toastService.ShowError(Result.Message);
                break;
            default:
                break;
        } 
        _loadingService.Hide();
        await AfterSubmit();

        return Result;
    }

    /// <summary>
    /// ارسال داده
    /// </summary>
    /// <returns></returns>
    private async Task<bool> PostData()
    {
        string Data = await Utility.JSON.ToJson(_Entity);

        bool IsOk = false;
        var Model = await ApiServer.External.Services.Data.Put(Data, TablePost.Name, TablePost, RequestID?.ToString(), _User.UserID.ToString());
        // بررسی وضعیت پاسخ
        if (Model?.Status == HttpStatusCode.OK)
        {
            if (Model.Content != null && !IndependentForm)
                { 
                    string NewData = Model.Content.ToString();
                    if (NewData is not null)
                    {
                        var NewEntity = await Utility.JSON.ToObject < Entity.HR_CRS_ContractTime>(NewData);
                     await  GetDataForm(NewEntity._Id);
                    }

                }
                IsOk = true;

        }
        return IsOk;
    }


    void SetLanguage(string language)
    {
        languageContainer.SetLanguage(System.Globalization.CultureInfo.GetCultureInfo(language));
    }

    // public void ValidFormSubmitted(EditContext editContext)
    // {

    // }

    // public void InvalidFormSubmitted(EditContext editContext)
    // {

    // }
    public async Task GetDataForm(object Id)
    {
        Type type = Id.GetType();
        string TypeToQueryBuilder = Utility.TypeConverterQueryBuilder.ConvertCSharpTypeToQueryBuilder(type);
        var NewQuery = new QueryBuilderFilterRule() { Condition = "AND" };
        NewQuery.Rules = new List<QueryBuilderFilterRule>
            {
                    new QueryBuilderFilterRule()
                    {
                        Field = _Entity._GetIdName,
                        Id = _Entity._GetIdName,
                        Input = "text",
                        Operator = "equal",
                        Type =  TypeToQueryBuilder,
                        Value = new string[]{ Id.ToString() },
                    }
            };
        QueryFilter = NewQuery;
        await GetData();
        StateHasChanged();
    }
    #endregion
}
