@inherits Forms.Forms.Form_1055Base
@namespace FormsPage

@using AKSoftware.Localization.MultiLanguages.Blazor
@using Baya.Models.Utility;
@using Baya.Models.ORM
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Authorization;
@using System.Security.Claims
@using System.Net
@using Microsoft.JSInterop
@using Baya.Models.ViewEngine
@using Forms.Domain.Utility
@using Castle.DynamicLinqQueryBuilder
<style>
    .fishMainCard {
    background: var(--white);
    border-radius: 0.6rem;
    box-shadow: 0 2px 30px #0000000f;
    padding: 1.5rem;
    margin-top: 1rem;
}

.itemOld {
    color: var(--red) !important;
    background: linear-gradient(90deg, #e826460f, transparent);
}

.itemNew {
    color: #1a9a4a !important;
    background: linear-gradient(270deg, #29b39c17, transparent);
}

/* ************************************************** */
.itemSpaceInput {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    border: 1px solid #e9edf4;
    align-items: baseline;
    padding-right: 10px;
    border-top: 0;
}

.itemSpaceInput label {
    font-size: 14px;
}

.itemSpaceInput.input-string input {
    border-radius: 0;
    border-width: 0 1px 0 0 !important;
    border: 1px solid #e9edf4;
}

.input-string input {
    display: inline-block;
    max-width: 260px !important;
    background: none !important;
    border: none;
    text-align: start !important;
    font-size: 14px;
    font-weight: bold;
}

.btnShowFish.btn {
    background: var(--purple);
    color: #fff;
    transition: all ease-out 0.5s;
    border: none;
}

.btnShowFish.btn:hover {
    color: var(--darkblue) !important;
    box-shadow: inset 25rem 0 0 0 var(--lightpurple), 0 2px 10px #0000001f;
}

/* ************************************************** */
/*  تنظیمات کلی دکمه چاپ */
.print-btn-container {
    padding-top: 1rem;
    display: inline-block;
}

.print-btn {
    position: relative;
    padding: 6px 6px;
    border: none;
    border-radius: 6px;
    background: linear-gradient(135deg, #4361ee, #3a0ca3);
    color: white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(67, 97, 238, 0.2);
    display: flex;
    align-items: center;
    gap: 10px;
}

/* افکت های تعاملی */
.print-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(67, 97, 238, 0.3);
    background: linear-gradient(135deg, #4895ef, #4361ee);
}

.print-btn:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(67, 97, 238, 0.2);
}

/* استایل آیکون */
.print-icon {
    display: flex;
    align-items: center;
    transition: transform 0.3s ease;
}

.print-btn:hover .print-icon {
    transform: translateX(3px);
}

/* افکت موجی هنگام کلیک */
.print-wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.6) 10%, transparent 10.01%) no-repeat 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform 0.5s, opacity 1s;
    pointer-events: none;
}

.print-btn:active .print-wave {
    transform: scale(0, 0);
    opacity: 0.4;
    transition: 0s;
}

/* ************************************************** */

@@media print {
    body {
        padding-top: 3px;
        font-size: 12px !important;
        font-weight: bold;
        line-height: 1.2 !important;
        color: #000 !important;
        background: none !important;
    }

    main {
        height: unset !important;
        min-height: unset !important;
        max-height: unset !important;
    }

    .dxbl-grid-table th,
    .dxbl-grid-table td {
        font-size: 12px !important;
        font-weight: bold;
        color: #000 !important;
    }

    h1 {
        font-size: 18px !important;
    }

    h2 {
        font-size: 16px !important;
    }

    h3 {
        font-size: 14px !important;
    }

    a {
        color: #000 !important;
        text-decoration: underline !important;
    }

    /* ستون 1 و 3 نمایش داده نشود در پرینت */
    table tr>*:nth-child(1),
    table tr>*:nth-child(3) {
        display: none;
    }

    /* از ستون 9 به بعد نمایش داده نشود در پرینت */
    table tr>*:nth-child(n+9) {
        display: none;
    }

    .fishMainCard {
        margin: 0;
        box-shadow: none;
        padding: 0;
    }

    .input-string label {
        font-size: 10px !important;

    }

    .input-string input {
        font-size: 12px !important;
        width: auto;
    }

    @@media (max-width: 768px) {
        .col-md-6 {
            flex: 0 0 auto;
            width: 50%;
        }

        .col-md-4 {
            flex: 0 0 auto;
            width: 33.33333333%;
        }

        .col-md-3 {
            flex: 0 0 auto;
            width: 25%;
        }
    }
}
</style>

<Plugins.Tools.ConfirmDialog @ref="Confirm" />

<span class="d-none">VersionForm:@VersionForm</span>
@*
@if (!string.IsNullOrEmpty(SumaryMessage))
{
    <div>
        @SumaryMessage
    </div>
} *@

@* <EditForm @ref="_Form" Model="_Entity" OnValidSubmit="ValidFormSubmitted" OnInvalidSubmit="InvalidFormSubmitted" OnSubmit="Submit"> *@
<div class="@(ReadOnly?"FormReadOnly":"")">
    <EditForm @ref="_Form" Model="_Entity" OnSubmit="Submit">
        
<div class="fishMainCard">
    <div  class="">
    <h4 class="fw-black">فیش حقوقی</h4>
</div>

<div class="row ">
    
<div class="col-md-4">
    
<div class="">
    
<Input Id="Emp_Name" @ref="Ref_Emp_Name" Label="نام"  CssClass="input-string" Disabled=true  @bind-Value="_Entity.Emp_Name" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</div>

</div>

<div class="col-md-4">
    
<Input Id="Emp_Family" @ref="Ref_Emp_Family" Label="نام خانوادگی"  CssClass="input-string" Disabled=true  @bind-Value="_Entity.Emp_Family" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</div>

<div class="col-md-4">
    
<Input Id="CodeMelli" @ref="Ref_CodeMelli" Label="کد ملی"  CssClass="input-string" Disabled=true  @bind-Value="_Entity.CodeMelli" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</div>

<div class="col-md-4">
    
<Input Id="Emp_No" @ref="Ref_Emp_No" Label="شماره کارت"  CssClass="input-string" Disabled=true  @bind-Value="_Entity.Emp_No" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</div>

<div class="col-md-4">
    
<Input Id="Company" @ref="Ref_Company" Label="شرکت"  CssClass="input-string" Disabled=true  @bind-Value="_Entity.Company" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</div>

<div class="col-md-4">
    
<Input Id="Centname" @ref="Ref_Centname" Label="واحد"  CssClass="input-string" Disabled=true  @bind-Value="_Entity.Centname" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</div>

<div class="col-md-4">
    
<Input Id="JobName" @ref="Ref_JobName" Label="عنوان شغلی"  CssClass="input-string" Disabled=true  @bind-Value="_Entity.JobName" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</div>

<div class="col-md-8">
    
<Input Id="WorkName" @ref="Ref_WorkName" Label="محل کار"  CssClass="input-string" Disabled=true  @bind-Value="_Entity.WorkName" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</div>

</div>
<div  class="">
    <hr class="hrdash my-1"/>
</div>

<div class="row align-items-end my-md-3 my-sm-1 ">
    
<div class="col-md-3">
    
<Input Id="Year" @ref="Ref_Year" Label="سال"     @bind-Value="_Entity.Year" type="number"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</div>

<div class="col-md-3">
    
<Input Id="Month" @ref="Ref_Month" Label="ماه"     @bind-Value="_Entity.Month" type="number"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</div>

<div class="col-md-5">
    
<Button Label="مشاهده فیش حقوقی" Id="submit" CssClass=" btnShowFish btn" onclick="@(e => submit_onclick(e ))"   ></Button>

</div>

<div class="col-md-1">
    
</div>

</div>

<div class="row mx-0 bg-light border">
    
<div class="col-md-6">
    
<Input Id="Sum_v_day" @ref="Ref_Sum_v_day" Label="جمع روز"  CssClass="input-string" Disabled=true  @bind-Value="_Entity.Sum_v_day" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</div>

<div class="col-md-6">
    
<Input Id="Sum_v_hour" @ref="Ref_Sum_v_hour" Label="جمع ساعت"  CssClass="input-string" Disabled=true  @bind-Value="_Entity.Sum_v_hour" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</div>

</div>

<div class="row g-0">
    
<div class="col-md-6">
    <div  class="">
    <h6 class="fw-bold text-center p-2 m-0 bg-light border border-top-0">مزایا</h6>
</div>

<Input Id="RavandQbl" @ref="Ref_RavandQbl" Label="روند ماه قبل"  CssClass="input-string itemSpaceInput" Disabled=true  @bind-Value="_Entity.RavandQbl" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="BedehiQbl" @ref="Ref_BedehiQbl" Label="پرداخت بدهي ماه قبل"  CssClass="input-string itemSpaceInput" Disabled=true  @bind-Value="_Entity.BedehiQbl" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="HoghoghPaye" @ref="Ref_HoghoghPaye" Label="حقوق پايه"  CssClass="input-string itemSpaceInput" Disabled=true  @bind-Value="_Entity.HoghoghPaye" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="KharbarMaskan" @ref="Ref_KharbarMaskan" Label="خواربار و مسکن"  CssClass="input-string itemSpaceInput" Disabled=true  @bind-Value="_Entity.KharbarMaskan" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="HaghTaaholPrice" @ref="Ref_HaghTaaholPrice" Label="حق تأهل"  CssClass="input-string itemSpaceInput" Disabled=true  @bind-Value="_Entity.HaghTaaholPrice" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="HagheOlad" @ref="Ref_HagheOlad" Label="حق اولاد"  CssClass="input-string itemSpaceInput" Disabled=true  @bind-Value="_Entity.HagheOlad" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="Refahi" @ref="Ref_Refahi" Label="مزاياي رفاهي انگيزه اي"  CssClass="input-string itemSpaceInput" Disabled=true  @bind-Value="_Entity.Refahi" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="EzafeKariAdiHour" @ref="Ref_EzafeKariAdiHour" Label="ساعت اضافه کار عادی"  CssClass="input-string itemSpaceInput" Disabled=true  @bind-Value="_Entity.EzafeKariAdiHour" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="EzafeKariAdi" @ref="Ref_EzafeKariAdi" Label="اضافه کاري عادی"  CssClass="input-string itemSpaceInput" Disabled=true  @bind-Value="_Entity.EzafeKariAdi" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="EzafeKariTatilHour" @ref="Ref_EzafeKariTatilHour" Label="ساعت اضافه کار تعطیل"  CssClass="input-string itemSpaceInput" Disabled=true  @bind-Value="_Entity.EzafeKariTatilHour" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="EzafeKariTatil" @ref="Ref_EzafeKariTatil" Label="اضافه کار تعطیل"  CssClass="input-string itemSpaceInput" Disabled=true  @bind-Value="_Entity.EzafeKariTatil" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="Jazb2" @ref="Ref_Jazb2" Label="حق جذب 2"  CssClass="input-string itemSpaceInput" Disabled=true  @bind-Value="_Entity.Jazb2" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="Mamooriat" @ref="Ref_Mamooriat" Label="حق مأموريت"  CssClass="input-string itemSpaceInput" Disabled=true  @bind-Value="_Entity.Mamooriat" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="Padash1" @ref="Ref_Padash1" Label="پاداش افزايش توليد1"  CssClass="input-string itemSpaceInput" Disabled=true  @bind-Value="_Entity.Padash1" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="Padash2" @ref="Ref_Padash2" Label="پاداش افزايش توليد2"  CssClass="input-string itemSpaceInput" Disabled=true  @bind-Value="_Entity.Padash2" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="PayeSanavat" @ref="Ref_PayeSanavat" Label="پايه سنوات"  CssClass="input-string itemSpaceInput" Disabled=true  @bind-Value="_Entity.PayeSanavat" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="HaghePost" @ref="Ref_HaghePost" Label="حق پست"  CssClass="input-string itemSpaceInput" Disabled=true  @bind-Value="_Entity.HaghePost" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="MandegariPost" @ref="Ref_MandegariPost" Label="ماندگاري پست"  CssClass="input-string itemSpaceInput" Disabled=true  @bind-Value="_Entity.MandegariPost" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="MaBeOTafavot" @ref="Ref_MaBeOTafavot" Label="ما به التفاوت"  CssClass="input-string itemSpaceInput" Disabled=true  @bind-Value="_Entity.MaBeOTafavot" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</div>

<div class="col-md-6">
    <div  class="">
    <h6 class="fw-bold text-center p-2 m-0 bg-light border border-top-0">کسورات</h6>
</div>

<Input Id="Maliat" @ref="Ref_Maliat" Label="ماليات"  CssClass="input-string itemSpaceInput" Disabled=true  @bind-Value="_Entity.Maliat" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="Tabaee1" @ref="Ref_Tabaee1" Label="تبعي 1"  CssClass="input-string itemSpaceInput" Disabled=true  @bind-Value="_Entity.Tabaee1" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="Tabaee2" @ref="Ref_Tabaee2" Label="تبعي 2"  CssClass="input-string itemSpaceInput" Disabled=true  @bind-Value="_Entity.Tabaee2" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="Tabaee3" @ref="Ref_Tabaee3" Label="تبعي 3"  CssClass="input-string itemSpaceInput" Disabled=true  @bind-Value="_Entity.Tabaee3" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="Bime" @ref="Ref_Bime" Label="بيمه اصلي سهم کارمند"  CssClass="input-string itemSpaceInput" Disabled=true  @bind-Value="_Entity.Bime" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="BimeBazneshastegi" @ref="Ref_BimeBazneshastegi" Label="بيمه بازنشستگي سهم کارمند"  CssClass="input-string itemSpaceInput" Disabled=true  @bind-Value="_Entity.BimeBazneshastegi" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="BedehiMahQbl" @ref="Ref_BedehiMahQbl" Label="بدهي ماه قبل"  CssClass="input-string itemSpaceInput" Disabled=true  @bind-Value="_Entity.BedehiMahQbl" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="VaamZaroori" @ref="Ref_VaamZaroori" Label="وام ضروري کارکنان"  CssClass="input-string itemSpaceInput" Disabled=true  @bind-Value="_Entity.VaamZaroori" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="Mosaede" @ref="Ref_Mosaede" Label="مساعده پرداختي کارکنان"  CssClass="input-string itemSpaceInput" Disabled=true  @bind-Value="_Entity.Mosaede" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="BimeTakmili" @ref="Ref_BimeTakmili" Label="بيمه تکميلی"  CssClass="input-string itemSpaceInput" Disabled=true  @bind-Value="_Entity.BimeTakmili" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="RavandJari" @ref="Ref_RavandJari" Label="روند ماه جاری"  CssClass="input-string itemSpaceInput" Disabled=true  @bind-Value="_Entity.RavandJari" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="AlalHesab" @ref="Ref_AlalHesab" Label="علي الحساب پاداش افزايش توليد 1و2"  CssClass="input-string itemSpaceInput" Disabled=true  @bind-Value="_Entity.AlalHesab" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</div>

</div>

<div class="row mt-2">
    
<div class="col-md-4">
    
<Input Id="Nakhales" @ref="Ref_Nakhales" Label="جمع مزایا (ناخالص)"  CssClass="p-1 itemNew input-string" Disabled=true  @bind-Value="_Entity.Nakhales" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</div>

<div class="col-md-4">
    
<Input Id="KosoratTotal" @ref="Ref_KosoratTotal" Label="جمع کسورات"  CssClass="itemOld input-string p-1" Disabled=true  @bind-Value="_Entity.KosoratTotal" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</div>

<div class="col-md-4">
    
<Input Id="Pardakhti" @ref="Ref_Pardakhti" Label="خالص پرداختی"  CssClass="itemNew input-string p-1" Disabled=true  @bind-Value="_Entity.Pardakhti" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

</div>

</div>

</div>

<Input Id="Id" @ref="Ref_Id"   CssClass="d-none"   @bind-Value="_Entity.Id" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="CurrentCodeMelli" @ref="Ref_CurrentCodeMelli" Label="CurrentCodeMelli"  CssClass="d-none" Disabled=true  @bind-Value="_Entity.CurrentCodeMelli" type="text"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="RequestID" @ref="Ref_RequestID"      @bind-Value="_Entity.RequestID" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="CreateUser" @ref="Ref_CreateUser"      @bind-Value="_Entity.CreateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="UpdateUser" @ref="Ref_UpdateUser"      @bind-Value="_Entity.UpdateUser" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="CreateDate" @ref="Ref_CreateDate"   CssClass="d-none"   @bind-Value="_Entity.CreateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="UpdateDate" @ref="Ref_UpdateDate"   CssClass="d-none"   @bind-Value="_Entity.UpdateDate" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>

<Input Id="IsDelete" @ref="Ref_IsDelete"   CssClass="d-none"   @bind-Value="_Entity.IsDelete" type="hidden"     Attributes=@((Utility.JSON.ToObject<Dictionary<string,object>>("{}").Result))></Input>
 <!-- ************************************************** -->
 <div class="print-btn-container">
    <button type="button" onclick="customPrint()" class="print-btn">
        <span class="print-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
                <path d="M5 1a2 2 0 0 0-2 2v1h10V3a2 2 0 0 0-2-2H5zm6 8H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1z"/>
                <path d="M0 7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-1v-2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v2H2a2 2 0 0 1-2-2V7zm2.5 1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
            </svg>
        </span>
        <span class="print-text">چاپ</span>
        <span class="print-wave"></span>
    </button>
</div>


<script>
function customPrint() {
    // لیست تمام عناصری که می‌خواهید مخفی شوند
    const elementsToHide = [
        '#submit',                  //دکمه نمایش فیش حقوقی
        '.sideArea',                // نوار کناری
        '.toprow.sticky-top',       // نوار بالایی
        '.no-print',                // عناصر با کلاس no-print
        '.btn-back',                // دکمه برگشت
        '.print-btn-container',     // دکمه چاپ در صفحه
        '.logo',                    // لوگو
        '.formTitle',               // تایتل صفحه
        '.formCode',                // کد فرم بالای صفحه فرم
        '.tab_Info',                // مخفی کردن تب های اطلاعاتی
        '.footer'                   // فوتر
    ];
    
    // ذخیره وضعیت اصلی و مخفی کردن
    const hiddenElements = [];
    
    elementsToHide.forEach(selector => {
        const elements = document.querySelectorAll(selector);
        elements.forEach(el => {
            hiddenElements.push({
                element: el,
                originalDisplay: el.style.display
            });
            //el.style.display = 'none';
            $(el).addClass("d-print-none");
        });
    });
    
    // چاپ صفحه
    window.print();
    
    // بازگرداندن عناصر پس از چاپ
    // setTimeout(() => {
    //     hiddenElements.forEach(item => {
    //         item.element.style.display = item.originalDisplay || '';
    //     });
    // }, 500);
}
</script>

<!-- ************************************************** -->

    </EditForm>
</div>

@if (ShowSubmit)
{
    <button class="btn btn-sm btn-green" @onclick=Submit>ذخیره</button>
}

@code {
    #region Function

    //todo  جا به جا شود برده شود تو فایل  Peropeties
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("#log OnInitializedAsync");

        TableGet = await Utility.JSON.ToObject<Table>("{\"Name\":\"HR_Salary\",\"GetNameAs\":\"HR_Salary\",\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"Emp_No\",\"GetNameAs\":\"Emp_No\"},{\"Name\":\"CodeMelli\",\"GetNameAs\":\"CodeMelli\"},{\"Name\":\"Year\",\"GetNameAs\":\"Year\"},{\"Name\":\"Month\",\"GetNameAs\":\"Month\"},{\"Name\":\"Emp_Name\",\"GetNameAs\":\"Emp_Name\"},{\"Name\":\"Emp_Family\",\"GetNameAs\":\"Emp_Family\"},{\"Name\":\"WorkName\",\"GetNameAs\":\"WorkName\"},{\"Name\":\"Sum_v_day\",\"GetNameAs\":\"Sum_v_day\"},{\"Name\":\"Sum_v_hour\",\"GetNameAs\":\"Sum_v_hour\"},{\"Name\":\"Centname\",\"GetNameAs\":\"Centname\"},{\"Name\":\"JobName\",\"GetNameAs\":\"JobName\"},{\"Name\":\"Company\",\"GetNameAs\":\"Company\"},{\"Name\":\"CurrentCodeMelli\",\"GetNameAs\":\"CurrentCodeMelli\"},{\"Name\":\"Pardakhti\",\"GetNameAs\":\"Pardakhti\"},{\"Name\":\"Nakhales\",\"GetNameAs\":\"Nakhales\"},{\"Name\":\"KosoratTotal\",\"GetNameAs\":\"KosoratTotal\"},{\"Name\":\"HoghoghPaye\",\"GetNameAs\":\"HoghoghPaye\"},{\"Name\":\"EzafeKariAdi\",\"GetNameAs\":\"EzafeKariAdi\"},{\"Name\":\"HaghTaaholPrice\",\"GetNameAs\":\"HaghTaaholPrice\"},{\"Name\":\"Maliat\",\"GetNameAs\":\"Maliat\"},{\"Name\":\"Bime\",\"GetNameAs\":\"Bime\"},{\"Name\":\"RavandJari\",\"GetNameAs\":\"RavandJari\"},{\"Name\":\"BedehiQbl\",\"GetNameAs\":\"BedehiQbl\"},{\"Name\":\"RavandQbl\",\"GetNameAs\":\"RavandQbl\"},{\"Name\":\"KharbarMaskan\",\"GetNameAs\":\"KharbarMaskan\"},{\"Name\":\"Refahi\",\"GetNameAs\":\"Refahi\"},{\"Name\":\"Jazb2\",\"GetNameAs\":\"Jazb2\"},{\"Name\":\"Padash1\",\"GetNameAs\":\"Padash1\"},{\"Name\":\"Padash2\",\"GetNameAs\":\"Padash2\"},{\"Name\":\"PayeSanavat\",\"GetNameAs\":\"PayeSanavat\"},{\"Name\":\"EzafeKariAdiHour\",\"GetNameAs\":\"EzafeKariAdiHour\"},{\"Name\":\"EzafeKariTatil\",\"GetNameAs\":\"EzafeKariTatil\"},{\"Name\":\"EzafeKariTatilHour\",\"GetNameAs\":\"EzafeKariTatilHour\"},{\"Name\":\"MaBeOTafavot\",\"GetNameAs\":\"MaBeOTafavot\"},{\"Name\":\"BimeTakmili\",\"GetNameAs\":\"BimeTakmili\"},{\"Name\":\"BimeBazneshastegi\",\"GetNameAs\":\"BimeBazneshastegi\"},{\"Name\":\"BedehiMahQbl\",\"GetNameAs\":\"BedehiMahQbl\"},{\"Name\":\"AlalHesab\",\"GetNameAs\":\"AlalHesab\"},{\"Name\":\"Tabaee1\",\"GetNameAs\":\"Tabaee1\"},{\"Name\":\"Tabaee2\",\"GetNameAs\":\"Tabaee2\"},{\"Name\":\"Tabaee3\",\"GetNameAs\":\"Tabaee3\"},{\"Name\":\"MandegariPost\",\"GetNameAs\":\"MandegariPost\"},{\"Name\":\"HagheOlad\",\"GetNameAs\":\"HagheOlad\"},{\"Name\":\"Mosaede\",\"GetNameAs\":\"Mosaede\"},{\"Name\":\"Mamooriat\",\"GetNameAs\":\"Mamooriat\"},{\"Name\":\"HaghePost\",\"GetNameAs\":\"HaghePost\"},{\"Name\":\"VaamZaroori\",\"GetNameAs\":\"VaamZaroori\"}],\"Relation\":[]}");
        TablePost = await Utility.JSON.ToObject<Table>("{\"Name\":\"HR_Salary\",\"GetNameAs\":\"HR_Salary\",\"Column\":[{\"Name\":\"Id\",\"GetNameAs\":\"Id\"},{\"Name\":\"RequestID\",\"GetNameAs\":\"RequestID\"},{\"Name\":\"CreateUser\",\"GetNameAs\":\"CreateUser\"},{\"Name\":\"UpdateUser\",\"GetNameAs\":\"UpdateUser\"},{\"Name\":\"CreateDate\",\"GetNameAs\":\"CreateDate\"},{\"Name\":\"UpdateDate\",\"GetNameAs\":\"UpdateDate\"},{\"Name\":\"IsDelete\",\"GetNameAs\":\"IsDelete\"},{\"Name\":\"Emp_No\",\"GetNameAs\":\"Emp_No\"},{\"Name\":\"CodeMelli\",\"GetNameAs\":\"CodeMelli\"},{\"Name\":\"Year\",\"GetNameAs\":\"Year\"},{\"Name\":\"Month\",\"GetNameAs\":\"Month\"},{\"Name\":\"Emp_Name\",\"GetNameAs\":\"Emp_Name\"},{\"Name\":\"Emp_Family\",\"GetNameAs\":\"Emp_Family\"},{\"Name\":\"WorkName\",\"GetNameAs\":\"WorkName\"},{\"Name\":\"Sum_v_day\",\"GetNameAs\":\"Sum_v_day\"},{\"Name\":\"Sum_v_hour\",\"GetNameAs\":\"Sum_v_hour\"},{\"Name\":\"Centname\",\"GetNameAs\":\"Centname\"},{\"Name\":\"JobName\",\"GetNameAs\":\"JobName\"},{\"Name\":\"Company\",\"GetNameAs\":\"Company\"},{\"Name\":\"CurrentCodeMelli\",\"GetNameAs\":\"CurrentCodeMelli\"},{\"Name\":\"Pardakhti\",\"GetNameAs\":\"Pardakhti\"},{\"Name\":\"Nakhales\",\"GetNameAs\":\"Nakhales\"},{\"Name\":\"KosoratTotal\",\"GetNameAs\":\"KosoratTotal\"},{\"Name\":\"HoghoghPaye\",\"GetNameAs\":\"HoghoghPaye\"},{\"Name\":\"EzafeKariAdi\",\"GetNameAs\":\"EzafeKariAdi\"},{\"Name\":\"HaghTaaholPrice\",\"GetNameAs\":\"HaghTaaholPrice\"},{\"Name\":\"Maliat\",\"GetNameAs\":\"Maliat\"},{\"Name\":\"Bime\",\"GetNameAs\":\"Bime\"},{\"Name\":\"RavandJari\",\"GetNameAs\":\"RavandJari\"},{\"Name\":\"BedehiQbl\",\"GetNameAs\":\"BedehiQbl\"},{\"Name\":\"RavandQbl\",\"GetNameAs\":\"RavandQbl\"},{\"Name\":\"KharbarMaskan\",\"GetNameAs\":\"KharbarMaskan\"},{\"Name\":\"Refahi\",\"GetNameAs\":\"Refahi\"},{\"Name\":\"Jazb2\",\"GetNameAs\":\"Jazb2\"},{\"Name\":\"Padash1\",\"GetNameAs\":\"Padash1\"},{\"Name\":\"Padash2\",\"GetNameAs\":\"Padash2\"},{\"Name\":\"PayeSanavat\",\"GetNameAs\":\"PayeSanavat\"},{\"Name\":\"EzafeKariAdiHour\",\"GetNameAs\":\"EzafeKariAdiHour\"},{\"Name\":\"EzafeKariTatil\",\"GetNameAs\":\"EzafeKariTatil\"},{\"Name\":\"EzafeKariTatilHour\",\"GetNameAs\":\"EzafeKariTatilHour\"},{\"Name\":\"MaBeOTafavot\",\"GetNameAs\":\"MaBeOTafavot\"},{\"Name\":\"BimeTakmili\",\"GetNameAs\":\"BimeTakmili\"},{\"Name\":\"BimeBazneshastegi\",\"GetNameAs\":\"BimeBazneshastegi\"},{\"Name\":\"BedehiMahQbl\",\"GetNameAs\":\"BedehiMahQbl\"},{\"Name\":\"AlalHesab\",\"GetNameAs\":\"AlalHesab\"},{\"Name\":\"Tabaee1\",\"GetNameAs\":\"Tabaee1\"},{\"Name\":\"Tabaee2\",\"GetNameAs\":\"Tabaee2\"},{\"Name\":\"Tabaee3\",\"GetNameAs\":\"Tabaee3\"},{\"Name\":\"MandegariPost\",\"GetNameAs\":\"MandegariPost\"},{\"Name\":\"HagheOlad\",\"GetNameAs\":\"HagheOlad\"},{\"Name\":\"Mosaede\",\"GetNameAs\":\"Mosaede\"},{\"Name\":\"Mamooriat\",\"GetNameAs\":\"Mamooriat\"},{\"Name\":\"HaghePost\",\"GetNameAs\":\"HaghePost\"},{\"Name\":\"VaamZaroori\",\"GetNameAs\":\"VaamZaroori\"}],\"Relation\":[]}");

        config = CKEditorBundleOptions.DefaultConfig.WithHtmlEditing();
        config.Language = "fa";

        //بعداد اگه نیاز شد فرمی رو تو حالت غیر لاگین شده نمایش بدیم باید این  کد تغیر کنه
        var user = (await _authenticationStateProvider.GetAuthenticationStateAsync()).User;
        string UserID = user.FindFirst(c => c.Type == ClaimTypes.NameIdentifier).Value;
        //داینامیک بشه
        Dictionary<string, object> List = new Dictionary<string, object>();
        //List.Add("UserID", Guid.Parse(UserID));
        List.Add("UserID", UserID);
        _User = await Domain.Utility.ConvertParameter.ConvertToObject(List);

        Console.WriteLine("#log OnInitializedAsync End");

        await base.OnInitializedAsync();
    }

    //todo  جا به جا شود برده شود تو فایل  Peropeties
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Console.WriteLine("#log OnAfterRenderAsync");
            await base.BeforGetData();

            var Result = await GetData();

            await base.AfterGetData();

            StateHasChanged();

            await OnFormloaded.InvokeAsync(Result);
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    /// <summary>
    /// دریافت داده
    /// </summary>
    /// <returns></returns>
    public async Task<Baya.Models.Utility.Result> GetData()
    {
        await BeforGetData();

        var DataResult = await ApiServer.External.Services.Data.Get(TableGet, QueryFilter, TableGet.Name, null);
        
        Baya.Models.Utility.Result Result = new Baya.Models.Utility.Result();

        if (DataResult != null && DataResult.Status == HttpStatusCode.OK)
        {
            if (DataResult.Content != null)
            {
                string Data = DataResult.Content.ToString();
                if (Data is not null)
                {
                    _Entity = await Utility.JSON.ToObject < Entity.HR_Salary>(Data);
        }
            }
            else
            {
                _Entity = new Entity.HR_Salary();
            //todo تشخیص دهد که داده ای وجود ندارد و دفه اول هست که فرم لود میشود
            //todo اگه نیاز شد دالخ ORm خروجیش متفاوت باشه
            //ست کردن دیفالت های فرم
            if (true)
                {//


                    //نمونه ست کردن پارامتر روش اول
                    //_Entity.InstantDelivery = _RequestParameters.UserId;

                    //نمونه کد برای ست کردن پارامتر روش دوم
                    //_Entity.InstantDelivery = await GetParameter("@@UserId@@");
                }

                SumaryMessage = "داده لود شده معتبر نمی باشد";
                Result.Status = HttpStatusCode.InternalServerError;
            }
        }
        else
        {
            SumaryMessage = "داده لود نشد";
            Result.Status = HttpStatusCode.InternalServerError;
        }

        Result.Message = SumaryMessage;

        StateHasChanged();

        await AfterGetData();

        return Result;
    }

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);
    }

    protected override void OnInitialized()
    {
        //todo این خط برده شود داخل تابع پاینی ببینیم خطا داره یا نه
        languageContainer.InitLocalizedComponent(this);
    }


    /// <summary>
    /// بررسی تغییر دیتا
    /// </summary>
    /// <param name="Json"></param>
    /// <returns></returns>
    public bool CheckChangedData(string? Json)
    {
        if (string.Equals(JsonData, Json)) return true;
        return false;
    }

    /// <summary>
    /// ارسال داده
    /// </summary>
    /// <returns></returns>
    public override async Task<Baya.Models.Utility.Result> Submit()
    {
        SumaryMessage = "";
        Baya.Models.Utility.Result Result = new Baya.Models.Utility.Result();

        if (!await FormValidator())
        {
            StateHasChanged();
            Result.Status = HttpStatusCode.InternalServerError;
            return Result;
        }

        if ((await BeforSubmit()).Status != HttpStatusCode.OK)
        {
            StateHasChanged();
            Result.Status = HttpStatusCode.InternalServerError;
            return Result;
        }

        _loadingService.Show();
        var Resualt = await PostData();

        if (Resualt)
        {
            Result.Status = HttpStatusCode.OK;

            SumaryMessage = "داده ها با موفقیت ثبت شد";
        }
        else
        {
            Result.Status = HttpStatusCode.InternalServerError;
            SumaryMessage = "ذخیره داده با مشکل مواجه شد";
        }

        Result.Message = SumaryMessage;

        switch ((int)Result.Status)
        {
            case 200:
                toastService.ShowSuccess(Result.Message);
                break;
            case 500:
                toastService.ShowError(Result.Message);
                break;
            default:
                break;
        } 
        _loadingService.Hide();
        await AfterSubmit();

        return Result;
    }

    /// <summary>
    /// ارسال داده
    /// </summary>
    /// <returns></returns>
    private async Task<bool> PostData()
    {
        string Data = await Utility.JSON.ToJson(_Entity);

        bool IsOk = false;
        var Model = await ApiServer.External.Services.Data.Put(Data, TablePost.Name, TablePost, RequestID?.ToString(), _User.UserID.ToString());
        // بررسی وضعیت پاسخ
        if (Model?.Status == HttpStatusCode.OK)
        {
            if (Model.Content != null && !IndependentForm)
                { 
                    string NewData = Model.Content.ToString();
                    if (NewData is not null)
                    {
                        var NewEntity = await Utility.JSON.ToObject < Entity.HR_Salary>(NewData);
                     await  GetDataForm(NewEntity._Id);
                    }

                }
                IsOk = true;

        }
        return IsOk;
    }


    void SetLanguage(string language)
    {
        languageContainer.SetLanguage(System.Globalization.CultureInfo.GetCultureInfo(language));
    }

    // public void ValidFormSubmitted(EditContext editContext)
    // {

    // }

    // public void InvalidFormSubmitted(EditContext editContext)
    // {

    // }
    public async Task GetDataForm(object Id)
    {
        Type type = Id.GetType();
        string TypeToQueryBuilder = Utility.TypeConverterQueryBuilder.ConvertCSharpTypeToQueryBuilder(type);
        var NewQuery = new QueryBuilderFilterRule() { Condition = "AND" };
        NewQuery.Rules = new List<QueryBuilderFilterRule>
            {
                    new QueryBuilderFilterRule()
                    {
                        Field = _Entity._GetIdName,
                        Id = _Entity._GetIdName,
                        Input = "text",
                        Operator = "equal",
                        Type =  TypeToQueryBuilder,
                        Value = new string[]{ Id.ToString() },
                    }
            };
        QueryFilter = NewQuery;
        await GetData();
        StateHasChanged();
    }
    #endregion
}
